body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", sans-serif;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controllers {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.button {
  font-weight: 400;
  border: none;
  font-size: 1rem;
  background: black;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  outline: none;
  margin: 0;
}
